<nav class="p-2 pb-1 pt-1 navbar navbar-light navbar-sm border border-dark border-3 rounded bg-light">
  <a class="navbar-brand text-muted fw-bold fst-italic" href="#">BlockPolls</a>
  <button type="button" class="btn btn-outline-secondary" (click)="showForm = !showForm">Create Poll</button>
</nav>


<section class="jumbotron bg-dark text-center m-3">
  <h1 class="fs-1 fw-bold mb-0">Polls Reimagined</h1>
  <p class="lead text-muted">
    Powered by Blockchain
  </p>
  <hr>
</section>

<app-poll-create *ngIf="showForm" (pollCreated)="handlePollCreate($event)"></app-poll-create>

<div class="d-flex">
  <div class="container poll-list ">
    <app-poll
      *ngFor="let poll of polls | async"
      [question]="poll.question"
      [voted]="poll.voted"
      [votes]="poll.results"
      [image]="poll.image"
      (click)="setActivePoll(poll)"
    ></app-poll>
  </div>
  <div class="container poll-detail " *ngIf="activePoll">
    <!-- <app-poll-vote
    [question]="activePoll.question"
    [voted]="activePoll.voted"
    [options]="activePoll.options"
    [results]="activePoll.results"
    ></app-poll-vote> -->
    <app-poll-vote [poll]="activePoll" (pollVoted)="handlePollVote($event)"></app-poll-vote>
    <button class="btn btn-outline-light float-end fs-1 pt-0 pb-0" (click)="setActivePoll(null)">&#10144;</button>
  </div>
</div>
